NEXT_PUBLIC_SUPABASE_URL=https://wfowezydgujicjwjuoapm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=PASTE_YOUR_ANON_KEY_HERE
SUPABASE_SERVICE_ROLE_KEY=PASTE_YOUR_SERVICE_ROLE_HERE
THREADS_APP_ID=1065588649620087
THREADS_APP_SECRET=PASTE_YOUR_THREADS_SECRET_HERE
NEXT_PUBLIC_SITE_URL=https://postthreader.vercel.app
